/*Body and text formatting*/
body {
    background-color: #EDEDED;
}

.alternate-background{
    background-color: #1E2C20;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 6vh;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 2vh;
}

@media only screen and (max-width: 900px) {
    h4{
        font-size: 1.3vh;
    }
    
}

h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.nav-link {
    

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 24px
}

.nav-link:hover{
    color: #B73A2A;
    text-decoration: underline;
}

.nav-active {
    color: #B73A2A;
}

.footer-text{
    color: white;

    h5{
        font-size: 20px;
        font-weight: 400;
    }

    p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin-bottom: 8px;
    font-size: 16px;
    }
}

.container-fluid {
    padding-inline: 5%;
}
/*Body and text formatting*/

/*Tagline Hero Image and Text*/
.tagline-hero{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.tagline-image{
    width: 100%; 
    height: auto; 
    background-position-y: 55%;
    background-size: cover;
}

.tagline-textbox{
    background-color: #181818CC;
    font-weight: 400;
    width: 300px;
    position: relative;
    left: 150px;
    bottom: 500px;
    padding: 25px;
}


@media only screen and (max-width: 600px) {
    .tagline-textbox{
        left: 10px;
        bottom: 240px;
        width: 200px;
        padding: 15px;
    }
}


.offcanvas {
    width: 283px !important; 
}
/*Tagline Hero Text*/

/*Start Cooking Images*/

.cooking-image {
    height: 80%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.cooking-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .1s;
    border-radius: 10px;
}

.cooking-image:hover img{
    transform: scale(1.1);
}

/*Start Cooking Images*/

/*New Arrivals Images*/
.arrival-image {
    width: 100%;
    height: 24vh;
    object-fit: cover;
}

@media only screen and (min-width: 600px) {
    .arrival-image {
        height: 60vh;
    }
}

.arrival-image:hover{
    filter: brightness(80%);
}
/*New Arrivals Images*/


/*Best Sellers Images*/

.sellers-image {
    height: 338px;
    overflow: hidden;
    border-radius: 10px;
}

.sellers-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .1s;
    border-radius: 10px;
}

.sellers-imag:hover img{
    transform: scale(1.1);
}

.sellers-columns{
    border-radius: 12px;
    border: black, solid;
    padding: 25px;
    margin: 25px;
}


/*Best Sellers Images*/

/*Reviews Images*/
.review-image img{
    width: 100%;
    height: 664px;
    border-radius: 10px;
    object-fit: cover;
}

.review-hero{
    height: 300px;
    text-align: center;
    color:white;
    position: absolute;
    background-color: #181818CC;
}

@media only screen and (min-width: 900px) {
    .review-hero {
        width: 25%;
    }
}


@media only screen and (max-width: 600px) {
    .review-hero {
        height: 450px;
    }
}
/*Reviews Images*/
